*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(17, 17, 78);
}

.main{
    width: 100px;
    height: 100px;
    background-color: rgb(40, 40, 159);
    border-radius: 10px;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.604);
}

.main, p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}