*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px;
}


.container .first{
    background-color: blueviolet;
    grid-column: 1/3;
}

.container .second{
    background-color: rgb(132, 132, 132);
    grid-column: 3/4;
}

.container .third{
    background-color: white;
    grid-column: 1/2;
    grid-row: 2;
    box-shadow: 2px 2px 2px 2px black;
}

.container .fourth{
    background-color: black;
    grid-column: 2/4;
    grid-row: 2/3;
}

.container .fifth{
    background-color: white;
    grid-column: 4;
    grid-row: 1/3;
    box-shadow: 2px 2px 2px 2px black;
}
