*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 38, 38);
    padding: 30px 30px;
}

.logo{
    margin-left: 100px;
    color: white;
}

.logo span{
    color: orangered;
}

.header-menu .header-nav{
    display: flex;
    gap: 30px;
}

.header-nav li{
    list-style: none;
}

.header-nav li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.contacts{
    margin-right: 100px;
}

.contacts a{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px 30px;
}

.header-nav li a:hover{
    color: orangered;
}
