/* 2. შექმენით მრგვალი, ლურჯი დივი, ანიმაციის მეშვეობით კი მისი მოძრაობა ბურთის ხტუნავს მიამსგავსეთ, გამოიყენეთ @keyframe-ები. */

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

.ball {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    animation: bounce 1s ease-in-out infinite;
}
