/* 5. შექმენით ანიმაცია, სადაც 200x200 div გაიზრდება ზომაში, შემდეგ კი თავის საწყის ზომაზე 2-ჯერ დაპატარავდება. */

@keyframes scaleAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(0.5); }
}

.scaling-div {
    width: 200px;
    height: 200px;
    background-color: orange;
    animation: scaleAnimation 3s ease-in-out infinite;
}
