*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
    width: 300px;
}

th,td{
    border: 2px solid black;
}
th:nth-child(even){
    background-color: red;
}
th:nth-child(odd){
    background-color: green;
}