*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_div {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    animation-name: animation_for_main_div;
    animation-duration: 5s;
}

.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@keyframes animation_for_main_div {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
