*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 1px 1px 1px 1px #ABBED166;
}

.menu{
    display: flex;
    align-items: center;
}

.menu .links{
    display: flex;
    gap: 16.71px;
}


.menu .links li{
    list-style: none;
}

.menu .links li a{
    gap: 5.57px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.menu .links li a:hover{
    color: #4CAF4F;
}

.menu .big-link{
    position: relative;
    left: 22.27px;
    gap: 5.57px;
    background-color: #4CAF4F;
    padding: 15px 30px;
    border-radius: 2.78px;
}

.menu .big-link a{
    color: white;
    text-decoration: none;
}
