*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.form1, input{
    display: block;
}

input{
    border: solid 2px cornflowerblue;
    background-color: aqua;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    transition: 0.3s;
}

input:hover{
    background-color: blue;
    color: black;
}

