*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.logo{
    font-size: 30px;
    color: darkgreen;
    text-align: center;
}

.menu_bar, ul, li, a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 8px 0;
    background-color: black;
    text-align: center;
    transition: 0.5s;
}

a:hover{
    background-color: grey;
    color: darkgreen;
    font-size: 20px;

}

.what_is_goa{
    margin-top: 125px;
    text-align: center;
    color: darkgreen;
}

.p1{
    text-align: center;
    color: white;
}