*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#first_table{
    border-collapse: separate;
}

th, td{
    border: 2px solid black;
}

#second_table{
    border-collapse: collapse;
}

th, td{
    border: 2px solid black;
}