*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main_parent{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 1000px;
    height: 1000px;
    background-color: black;
}

#parent_first{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: white;
    position: absolute;
    left: 100px;
}

#parent_second{
    width: 200px;
    height: 200px;
    background-color: blue; 
    color: white;
    position: absolute;
}

#parent_third{
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    position: absolute;
    right: 100px;
}
