*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.ul1{
    list-style-type: armenian;
    list-style-position: inside;
    list-style-type: lower-greek;
    transition: 0.3;
}

.ol1{
    list-style-type: georgian;
    list-style-position: outside;
    list-style-type: lower-alpha;
    transition: 0.3;
}

.ul1:hover{
    background-color: black;
    color: red;
}

.ol1:hover{
    background-color: black;
    color: red;
}