/* 2) გამოიყენეთ :link რათა ყველა არასდროს დაჭერილი ლინკის ფერი იყოს ლურჯი */

a:link {
    color: blue; /* არასდროს დაჭერილი ლინკი იქნება ლურჯი */
    text-decoration: none; /* შეიძლება წავშალოთ ხაზგასმა, სურვილისამებრ */
}
