/* 4) გამოიყენეთ :hover რათა მაუსის ლინკზე გადატარებისას ტექსტის ფერი და background შეიცვალოს */

a:hover {
    color: white; /* ტექსტის ფერი შეიცვლება თეთრად */
    background-color: darkblue; /* ლინკის ფონი გახდება მუქი ლურჯი */
    padding: 5px; /* ლინკის შიგნით სივრცეს დაემატება 5px, უკეთესი ვიზუალისთვის */
    text-decoration: none; /* ხაზგასმა (underline) მოიხსნება */
    border-radius: 5px; /* კუთხეები ოდნავ მომრგვალებული იქნება */
}
