/* 5) გამოიყენეთ :active რათა ლინკზე დაჭერის მომენტში background გამუქდეს და ტექსტის ზომა შეიცვალოს */

a:active {
    background-color: navy; /* ფონი გახდება უფრო მუქი */
    color: white; /* ტექსტი დარჩება თეთრი */
    font-size: 20px; /* ტექსტის ზომა გაიზრდება */
    padding: 5px; /* კედლებს დაემატება padding უკეთესი ეფექტისთვის */
    text-decoration: none; /* ხაზგასმა მოიხსნება */
}
