/* 6) შექმენი ლინკი, რომელიც ნორმალურ მდგომარეობაში შავი ფერის იქნება, ხოლო :hover-ის დროს შეიცვალოს მუქი ნაცრისფრად. */

a {
    color: black; /* ნორმალურ მდგომარეობაში ლინკი შავი იქნება */
    text-decoration: none; /* ხაზგასმის მოშორება */
}

a:hover {
    color: #555; /* მაუსის გადატარებისას ლინკის ფერი გახდება მუქი ნაცრისფერი */
}
