*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#first_div{
    flex-direction: column;
}

#second_div{
    flex-direction: column-reverse;
}

#third_div{
    flex-direction: row;
}