/* 1) შექმენით დივი რომელსის სიგანეც იქნება 100%, ამ დივში ჩაამატეთ 9 სხვადასხვა ფოტო, გამოიყენეთ grid და განალაგეთ ელემენტები ისე რომ იყოს 3 ქოლუმნი და 3 როუ ასევე ეს გრიდი იყოს მოთავსებული ცენტრში და გრიდის ელემენტებიც იყვნენ მოთავსებული თავისი ჩარჩოს ცენტრში, გაცენტრეთ body ოღონდ grid ის გამოყენებით */

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.container img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
