/* შექმენი კვადრატი (100px x 100px), რომელსაც 20px მარჯვნივ და 10px ქვევით გადაიტან translate  გამოყენებით */

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    transform: translate(20px, 10px);
}
