*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    display: flex;
}

.main .first{
    background-color: hsl(31, 77%, 52%);
    padding: 10px 30px;
    border-radius: 8px 0 0 8px;
}

.main .second{
    background-color: hsl(184, 100%, 22%);
    padding: 10px 30px;
}

.main .third{
    background-color: hsl(179, 100%, 13%);
    padding: 10px 30px;
    border-radius: 0 8px 8px 0;
}


.main .first {
    color: white;
}

.main .second {
    color: white;
}

.main .third {
    color: white;
}
