*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.p1{
    text-decoration: uppercase;
}
.p2{
    text-decoration: lowercase;
}
.p3{
    text-decoration: capitalize;
}