*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.header{
    color: darkgreen;
    padding-bottom: 25px;
    font-size: 30px;
    text-align: center;
}

.p1{
    color: white;
    font-size: 15px;
    text-align: center;
}

.link, ul, li, a{
    list-style: none;
    text-decoration: none;
    color: lightgreen;
    padding: 3px 0;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 30px;
    display: flex;
    transition: 0.3s;
}


.link:hover{
    background-color: darkgreen;
    font-size: 20px;
}