/* 3) კომენტარების სახით ახსენით როგორ გესმით სტილების მემკვიდრეობა */

/* მშობელი ელემენტის სტილი */
body {
    color: darkblue;  /* ტექსტის ფერი */
    font-family: Arial, sans-serif; /* ფონტის ტიპი */
}

/* მემკვიდრეობის გამო, p ელემენტს გადაეცემა body-ის ტექსტის ფერი და ფონტი */
p {
    font-size: 18px; /* მემკვიდრეობის *დამატებითი* ცვლილება */
}

/* ამ შემთხვევაში, h1-მ შიგნიდან მიიღო body-ის ფონტი, მაგრამ შეიცვალა ფერი */
h1 {
    color: red; /* მემკვიდრეობა *გადაწერილია* */
}
