/* 6) დაწერეთ მემკვიდრეობითობის მაგალითები და რაში შეგვიძლია გამოვიყენოთ მემკვიდრეობითობა */

/* body არის მშობელი */
body {
    font-family: Arial, sans-serif; /* ფონტი */
    color: darkblue; /* ტექსტის ფერი */
}

/* ყველა შვილ ელემენტს (p და h1) ავტომატურად გადაეცემა body-ის ფონტი და ფერი */
p {
    font-size: 18px; /* დამატებითი სტილი */
}

h1 {
    font-size: 32px; /* სათაურის უნიკალური ზომა */
}

/* მშობელი */
.button-container {
    text-align: center; /* ყველა ღილაკი ცენტრში */
}

/* ყველა ღილაკს მემკვიდრეობით გადაეცემა მშობლის ცენტრში განლაგება */
button {
    background-color: #4CAF50; /* მწვანე ფონი */
    color: white;
    padding: 10px 20px;
}
