*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.every-section{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.section-first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(31, 66%, 93%);
    padding: 20px 30px;
    width: 250px;
    height: 375px;
    border-radius: 10px;
    gap: 20px;
}
.section-first h1{
    font-size: 40px;
}
.section-first span{
    color: hsl(256, 67%, 59%);
}

.section-second{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(256, 67%, 59%);
    padding: 20px 30px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    bottom: 37px;
}

.section-second h1{
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    text-align: center;
}

.section-second span{
    color: hsl(39, 100%, 71%);
}

.section-second img{
    margin-top: 20px;
}

.section-second p {
    color: white;
    margin-top: 5px;
}

.section-third{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(254, 88%, 90%);
    padding: 20px 30px;
    width: 250x;
    height: 475px;
    border-radius: 10px;
    position: relative;
    top: 50px;
}